<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>所有分类</key>
	<array>
		<dict>
			<key>name</key>
			<string>不限</string>
			<key>isSelect</key>
			<true/>
			<key>mark</key>
			<string>空</string>
		</dict>
		<dict>
			<key>name</key>
			<string>实拍</string>
			<key>isSelect</key>
			<false/>
			<key>mark</key>
			<string>未知</string>
		</dict>
		<dict>
			<key>name</key>
			<string>精品</string>
			<key>isSelect</key>
			<false/>
			<key>mark</key>
			<string>未知</string>
		</dict>
	</array>
	<key>商品分类</key>
	<array>
		<dict>
			<key>name</key>
			<string>不限</string>
			<key>isSelect</key>
			<true/>
			<key>mark</key>
			<string>空</string>
		</dict>
		<dict>
			<key>name</key>
			<string>女装</string>
			<key>isSelect</key>
			<false/>
			<key>mark</key>
			<string>female</string>
		</dict>
		<dict>
			<key>name</key>
			<string>童装</string>
			<key>isSelect</key>
			<false/>
			<key>mark</key>
			<string>girl</string>
		</dict>
	</array>
	<key>款式分类</key>
	<array>
		<dict>
			<key>name</key>
			<string>不限</string>
			<key>isSelect</key>
			<true/>
			<key>mark</key>
			<string>空</string>
		</dict>
		<dict>
			<key>name</key>
			<string>上装</string>
			<key>isSelect</key>
			<false/>
			<key>mark</key>
			<string>top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>下装</string>
			<key>isSelect</key>
			<false/>
			<key>mark</key>
			<string>bottom</string>
		</dict>
		<dict>
			<key>name</key>
			<string>套装</string>
			<key>isSelect</key>
			<false/>
			<key>mark</key>
			<string>suit</string>
		</dict>
	</array>
	<key>价格</key>
	<array>
		<dict>
			<key>name</key>
			<string>默认排序</string>
			<key>isSelect</key>
			<true/>
			<key>mark</key>
			<string>空</string>
		</dict>
		<dict>
			<key>name</key>
			<string>价格从低到高</string>
			<key>isSelect</key>
			<false/>
			<key>mark</key>
			<string>asc</string>
		</dict>
		<dict>
			<key>name</key>
			<string>价格从高到低</string>
			<key>isSelect</key>
			<false/>
			<key>mark</key>
			<string> desc</string>
		</dict>
	</array>
</dict>
</plist>
